ActionBar {
    color: #fff;
    background-color: #16a2b3;
}

/* platosView platosView platosView platosView platosView platosView platosView platosView */
#platosView .categoriaActiva{
    background-color: rgb(0, 0, 0, 0.2);
    font-weight: bold;
    text-decoration: underline;
}
#platosView .imagenPlato Image {}
#platosView .etiquetaPlato {
    background-color: rgb(0, 0, 0, 0.2);
    margin-top: -42;
    color: #fff;
}
#platosView .addCantidad {
    margin-top: -30;
    color: #fff;
}
#platosView .addCantidad Button {
    border-style: solid;
    border-width: .5;
    border-color: #fff;
    width: 30;
}
#platosView .addCantidad .disminuirCantidad {
	/*visibility: collapse;*/
}
#platosView .addCantidad .agregarCantidad {
    width: 80;
}
#platosView .encabezados {
    background-color: #f86a44;
    color: #fff;
    font-style: italic;
    /*     font-weight: bold; */
}

#pedidosView .footer ,
#platosView .footer {
    color: #fff;
    background-color: #16a2b3;
    font-style: italic;
    font-weight: bold; 
}

/* 16a2b3 celeste */
/* f86a44 naranja*/
/* 3f1e57 */


/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/11/2016 22:17
*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.flaticon-breakfast-delivery-service:before { content: "\f100"; }
.flaticon-cell-phone:before { content: "\f101"; }
.flaticon-checked:before { content: "\f102"; }
.flaticon-email:before { content: "\f103"; }
.flaticon-favorite:before { content: "\f104"; }
.flaticon-food-1:before { content: "\f105"; }
.flaticon-location-marker:before { content: "\f106"; }
.flaticon-online-shopping-cart:before { content: "\f107"; }
.flaticon-padlock:before { content: "\f108"; }
.flaticon-paper-plane:before { content: "\f109"; }
.flaticon-recipe:before { content: "\f10a"; }
.flaticon-right-arrow-circular-button:before { content: "\f10b"; }
.flaticon-spaghetti:before { content: "\f10c"; }
.flaticon-store-1:before { content: "\f10d"; }
.flaticon-waste-bin:before { content: "\f10e"; }

/*END flat icons*/